:root {
    --background: hsl(0, 0%, 98%);
   /* --background: hsl(0, 0%, 50%);*/
    --text-primary: hsl(200, 15%, 8%);
    --text-secondary: hsl(0, 0%, 52%);
    --accent: #dfb017;
    --accent-hover: #cea315; 
    --border: #1f1e1e;
    --shadow: 1px 1px 1px #00000056;
    --elements: hsl(0, 0%, 100%);
    --margin: 4vw;
    --icon-mode: url('/images/dark-icon.svg');
    --filter: none;
    --transition: .2s ease-in-out;
}

[data-theme='dark'] {
    --background: hsl(207, 26%, 17%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 100%);
    --accent: #6a5acd;
    --accent-hover: #5b4cbe; 
    --border: #696969;
    --shadow: 1px 1px 1px transparent;
    --elements: hsl(209, 23%, 22%);
    --margin: 4vw;
    --icon-mode: url('/images/light-icon.svg');
    --filter: invert(1);
    --transition: .2s ease-in-out;
}