.card {
  background: var(--elements);
  height: 310px;
  width: var(--width-cards);
  box-shadow: var(--shadow);
  border-radius: 8px;
  cursor: pointer;
}

.card-header {
  position: relative;
  background-color: #333333;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 45%;
  border-radius: 8px 8px 0px 0px;
}

.card-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 8px 8px 0px 0px;
}

.card-header:hover::before {
  opacity: 1;
}

.card-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card-header:hover .card-hover {
  opacity: 1;
}

.card-footer {
  margin: 30px;
}

.card-footer .country {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 26px;
}

.card-footer .data {
  display: flex;
  color: var(--text-primary);
  font-size: 14px;
}

.card-footer .data .title {
  font-weight: bold;
}

.card-footer .data .text {
  margin: 0;
  margin-left: 8px;
  font-weight: lighter;
}