$darkelements: hsl(209, 23%, 22%);
$darkbackground: hsl(207, 26%, 17%);
$lighttext: hsl(200, 15%, 8%);
$darkinput: hsl(0, 0%, 52%);
$lightbackground: hsl(0, 0%, 98%);
$darktextlightelements: hsl(0, 0%, 100%);