@import url('./../styles/var.css');

.main {
    background-color: var(--background);
    transition: var(--transition);
    min-height: calc(90vh - 1px);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width-cards), 1fr));
    gap: 5.5vh;
    margin-left: var(--margin);
    margin-right: var(--margin);
    justify-items: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .cards-container {
        margin-top: 30px;
    }
}

.country-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}