@import url('./styles/var.css');

body {
    color: var(--text-primary);
    font-weight: 300;
    background-color: var(--background);
    transition: background-color 0.2s ease-in-out;
}

* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}